# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Config files and credentials
config.json

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Backup or temp files
*.bak
*.tmp

# Content
*.html

# Zip files
*.zip

# log files
*.log

# No package Install files
venv/